@model Model.ADMIN
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-noborder tabbable-reversed">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_0" data-toggle="tab">
                        Admin Tanımlama
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_0">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i> Admin Tanımlama
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse">
                                </a>
                                <a href="javascript:;" class="reload">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <form action="@Request.RawUrl" method="POST" class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Adı</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.NAME, new { @class = "form-control input-circle", @placeholder = "Adını giriniz" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Soyadı</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.SURNAME, new {@class = "form-control input-circle", @placeholder = "Soyadını giriniz"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Kullanıcı Adı</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.USERNAME, new {@class = "form-control input-circle", @placeholder = "Kullanıcı adını giriniz"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Şifre</label>
                                        <div class="col-md-4">
                                            @Html.PasswordFor(model => model.PASSWORD, new { @class = "form-control input-circle", @placeholder = "Parolayı giriniz" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Durumu</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("STATUS", ViewBag.Status as SelectList, new { @class = "select2me form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-circle blue">Kaydet</button>
                                            <button type="button" class="btn btn-circle default">İptal</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>