@model Model.USER
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/WebUser/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-noborder tabbable-reversed">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_0" data-toggle="tab">
                        Kullanıcı Tanımlama
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_0">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i> Kullanıcı Tanımlama
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse">
                                </a>
                                <a href="javascript:;" class="reload">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <form action="@Request.RawUrl" method="POST" class="form-horizontal">
                                @Html.ValidationSummary(true)
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Kullanıcı Tipi</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("USERTYPE", ViewBag.UserType as SelectList, new {@class = "select2me form-control"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Home ID</label>
                                        <div class="col-md-4">
                                            @Html.HiddenFor(model => model.HOMECLIENTID)
                                            <span class="form-control-static">
                                                @Html.DisplayFor(model => model.HOMECLIENTID, new {@id = "HOMECLIENTID_", @class = "form-control input-circle", disabled = "disabled"})
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Adı</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.NAME, new {@class = "form-control input-circle"})
                                            @Html.ValidationMessageFor(model => model.NAME)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Soyadı</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.SURNAME, new {@class = "form-control input-circle"})
                                            @Html.ValidationMessageFor(model => model.SURNAME)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Doğum Tarihi</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.BIRTHDATE, new { @class = "form-control input-circle", Value = Model.BIRTHDATE.ToString("dd.MM.yyyy") })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">E-Mail</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.EMAIL, new {@class = "form-control input-circle"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">GSM No</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.GSMNR, new {@class = "form-control input-circle"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Kullanıcı Adı</label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.USERNAME, new {@class = "form-control input-circle", @placeholder = "Örn: A1-0001"})
                                            @Html.ValidationMessageFor(model => model.USERNAME)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Şifre</label>
                                        <div class="col-md-4">
                                            @Html.PasswordFor(model => model.PASSWORD, new {@class = "form-control input-circle"})
                                            @Html.ValidationMessageFor(model => model.PASSWORD)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Şifre Tekrar</label>
                                        <div class="col-md-4">
                                            @Html.PasswordFor(model => model.PASSWORD2, new {@class = "form-control input-circle"})
                                            @Html.ValidationMessageFor(model => model.PASSWORD2)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Akıllı Ev Durumu</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("SMARTHOMESTATUS", ViewBag.SmartHomeStatus as SelectList, new {@class = "select2me form-control"})
                                            @Html.ValidationMessageFor(model => model.SMARTHOMESTATUS)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Durumu</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("STATUS", ViewBag.Status as SelectList, new {@class = "select2me form-control"})
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-circle blue">Kaydet</button>
                                            <button type="button" class="btn btn-circle default">İptal</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>