@using Model

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/WebUser/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-noborder tabbable-reversed">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_0" data-toggle="tab">
                        Tüm Kullanıcılar
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_0">
                    <div class="portlet box yellow">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-user"></i>Tüm Kullanıcılar
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_2">
                                <thead>
                                    <tr>
                                        <th>
                                            Blok Adı
                                        </th>
                                        <th>
                                            Evin Adı
                                        </th>
                                        <th>
                                            Ad Soyad
                                        </th>
                                        <th>
                                            Client ID
                                        </th>
                                        <th>
                                            Kullanıcı Adı
                                        </th>
                                        <th>
                                            Kullanıcı Tipi
                                        </th>
                                        <th>
                                            Akıllı Ev Durumu
                                        </th>
                                        <th>
                                            Durumu
                                        </th>
                                        <th>
                                            #
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.List)
                                    {
                                        <tr class="odd gradeX">
                                            <td>
                                                @item.BLOKNAME
                                            </td>
                                            <td>
                                                @item.HOMENAME
                                            </td>
                                            <td>
                                                @item.NAME @item.SURNAME
                                            </td>
                                            <td>
                                                @item.HOMECLIENTID
                                            </td>
                                            <td>
                                                @item.USERNAME
                                            </td>
                                            <td>
                                                @(item.USERTYPE == (int)StaticValues.UserType.Homeowners ? "Ev Sahibi" :
                                                item.USERTYPE == (int)StaticValues.UserType.Admin ? "Admin" : "Alt Kullanıcı")
                                            </td>
                                            <td>
                                                @(item.SMARTHOMESTATUS == (int)StaticValues.SmartHomeStatusType.Yes ? "Yes" : "No")
                                            </td>
                                            <td>
                                                <span class="label label-sm label-@(item.STATUS == 0 ? "warning" : "success")">
                                                    @(item.STATUS == (int)StaticValues.StatusType.Deactive ? "Deactive" : "Active")
                                                </span>
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", "User", new { id = item.LREF, clientId = item.HOMECLIENTID }, null)/ @Html.ActionLink("Delete", "Delete", "User", new { id = item.LREF, clientId = item.HOMECLIENTID }, new { @onclick = "return confirm('Do you confirm the deletion?');" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>